[submodule "dune-ocaml"]
	path = dune-ocaml
	url = https://github.com/Alizter/dune.git
	branch = coq-compose
[submodule "math-comp"]
	path = math-comp
	url = https://github.com/ejgallego/math-comp.git
	branch = dune
[submodule "coq-master"]
	path = coq-master
	url = https://github.com/coq/coq.git
	branch = master
