[submodule "dune-ocaml"]
	path = dune-ocaml
	url = https://github.com/Alizter/dune.git
	branch = coq-compose
[submodule "math-comp"]
	path = math-comp
	url = https://github.com/ejgallego/math-comp.git
	branch = dune
[submodule "coq-master"]
	path = coq-master
	url = https://github.com/coq/coq.git
	branch = master
[submodule "odd-order"]
	path = odd-order
	url = https://github.com/ejgallego/odd-order.git
	branch = dune
[submodule "fourcolor"]
	path = fourcolor
	url = https://github.com/ejgallego/fourcolor.git
	branch = dune
[submodule "flocq"]
	path = flocq
	url = https://github.com/alizter/flocq-fork.git
	branch = dune
[submodule "CompCert"]
	path = CompCert
	url = https://github.com/ejgallego/CompCert.git
	branch = dune
[submodule "HoTT"]
	path = HoTT
	url = https://github.com/Alizter/HoTT.git
  branch = use-dune
[submodule "Coq-Equations"]
	path = Coq-Equations
	url = https://github.com/alizter/Coq-Equations.git
  branch = dune
[submodule "lib/menhir"]
	path = lib/menhir
	url = https://github.com/LexiFi/menhir.git
